{:organization "funcool"
 :organization-name "funcool"
 :logo {:href "http://github.com/funcool"
        :src "img/nav-brand.png"}
 :links []
 :social {}
 :languages #{"Clojure"}
 :included-projects #{"cats"
                      "cuerdas"
                      "promesa"} ;; todo: moar repos
 :extra-repos []
 :project-logos {}
 :token "0ea220b5c8de1be060c132e24771ed74537821be"
 :footer [:p
          "Copyright 2016 "
          [:a {:href "http://github.com/funcool"} "Funcool"]
          " - Crafted with love and parentheses"]
 :style {:primary-color "#F44336"
         :header {:background "linear-gradient(0deg, rgba(30, 39, 53, 0.88), rgba(30, 39, 53, 0.88)), url(\"img/header-background.jpg\") no-repeat center center"
                  :background-size "cover"}
         :font {:url "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400"
                :base "'Open sans', sans-serif"
                :headings "'Poppins', sans-serif"
                :sizes {:light 300
                        :regular 400
                        :semi-bold 600
                        :bold 700}}}}
