{:organization "funcool"
 :organization-name "funcool"
 :logo {:href "http://github.com/funcool"
        :src "https://avatars3.githubusercontent.com/u/10117366"
        :style {:filter "invert(1)"}}
 :links []
 :social {}
 :languages #{"Clojure"}
 :included-projects #{"cats"
                      "catacumba"
                      "cuerdas"
                      "promesa"
                      "bide"
                      "buddy"
                      "buddy-core"
                      "buddy-hashers"
                      "buddy-auth"
                      "buddy-sign"
                      "httpurr"
                      "suricatta"
                      "beicon"
                      "lentes"
                      "potok"
                      "octet"
                      "urania"
                      "clojurescript-unraveled"
                      "clojure.jdbc"
                      "codeina"
                      "boot-codeina"
                      "decimal"
                      "tubax"
                      "hodgepodge"}
 :extra-repos []
 :project-logos {}
 :token "0ea220b5c8de1be060c132e24771ed74537821be"
 :footer [:p
          "Copyright 2016 "
          [:a {:href "http://github.com/funcool"} "Funcool"]
          " - Crafted with love and parentheses"]
 :style {:primary-color "#F44336"
         :header {}
         :font {:url "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400"
                :base "'Open sans', sans-serif"
                :headings "'Poppins', sans-serif"
                :sizes {:light 300
                        :regular 400
                        :semi-bold 600
                        :bold 700}}}}
